@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: oklch(0.708 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar: oklch(0.985 0 0);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-ring: oklch(0.708 0 0);
  --color-input: oklch(0.922 0 0);
  --color-border: oklch(0.922 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.99 0.02 104.06);
  --color-secondary: oklch(0.95 0.2 107.32);
  --color-secondary-100: oklch(0.99 0.02 104.06);
  --color-secondary-300: oklch(0.98 0.08 106.13);
  --color-secondary-500: oklch(0.97 0.15 107.25);
  --color-secondary-700: oklch(0.95 0.2 107.32);
  --color-secondary-900: oklch(0.63 0.14 107.23);
  --color-primary-foreground: oklch(0.95 0.02 243.42);
  --color-primary: oklch(0.21 0.05 245.86);
  --color-primary-100: oklch(0.95 0.02 243.42);
  --color-primary-300: oklch(0.82 0.06 242.93);
  --color-primary-500: oklch(0.49 0.08 245.09);
  --color-primary-700: oklch(0.32 0.07 246.92);
  --color-primary-900: oklch(0.21 0.05 245.86);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
